.navMain {
    margin-left: auto;
    margin-right: auto;
    margin-left: 7rem;
}
.navMain img {
    width: 150px;
    position: relative;
    top: 1.8rem;
}
.navLink {
    font-size: 0.8rem;
    margin: 1rem;
    text-transform: uppercase;
    font-weight: bold;
}
@media only screen and (max-width: 980px) {
    .navMain {
        margin-left: 5rem;
    }
} 